<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a ui-sref-params="{shopName: ''}" style="float: right; margin-right: 20px;"> X </a>
            <h3>
                {{vm.currentShop.name}} <br>
                <small>
                    {{vm.currentShop.category}}
                </small>
            </h3>
            <p>
                <img ng-src="{{vm.currentShop.logo_url}}" alt="">
            </p>
            <p>
                {{vm.currentShop.description}}
            </p>
        </div>
    </div>
</div>