* {
    box-sizing: border-box;
    font-family: Arial;
}
*:focus {
    outline: none;
}
body, html {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
[ui-view] {
    overflow-y: auto;
    height: calc(100vh - 200px);
}
.header {
    height: 100px;
    display: block;
    text-align: center;
    padding: 20px;
    z-index: 1;
}

.header img{

}

.searchbar {
    background: #000;
    color: #FFF;
    display: block;
    min-height: 100px;
    text-align: center;
    z-index: 1;
}

.searchbar input {
    width: 80%;
    background: 0;
    border: 0;
    color: #FFF;

    padding: 40px;
}

.mainnav {
    display: block;
    padding: 40px;
    text-align: center;
}
.mainnav a {
    display: inline-block;

}
.mainnav a img {
    display: block;

}

.shopslist__item {
    display: inline-block;
    text-align: center;
    max-height: 420px;
    height:420px;
    overflow-y: hidden;

}

.thumbnail {
    height: 400px;
}

.shopslist__item img {

    height: 90px;
    max-height: 90px;
    width: auto;

}
.shopslist__item p{
    height: 80px;
    max-height: 80px;
    overflow: hidden;

}
.shopslist__heading {
    font-size: 18px;
    font-weight: bold;
}


.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
}


.slide {
    position: absolute;
    transform: translate(0px, 0px);
    width: 100vw;
}

/*.sliding-items.ng-move,*/
/*.sliding-items.ng-enter,*/
/*.sliding-items.ng-leave {*/
    /*transition:all linear 0.5s;*/
/*}*/

/*.sliding-items.ng-leave.ng-leave-active,*/
/*.sliding-items.ng-move,*/
/*.sliding-items.ng-enter {*/
    /*max-height:100px;*/
    /*padding: 15px 0px;*/
/*}*/

/*.sliding-items.ng-leave,*/
/*.sliding-items.ng-move.ng-move-active,*/
/*.sliding-items.ng-enter.ng-enter-active {*/
    /*max-height:1px;*/
    /*padding: 0px;*/
/*}*/

.sliding-items-container {
    background: #900;

}
.sliding-items {
    /*max-height: 100px;*/
    /*overflow: hidden;*/
    margin: 0;
    /*transition:all linear 10.5s;*/
}


.map {
    background: url(http://www.28thart.com/Art_Works/Particles_Orange.jpg);
    width: 100vw;
    height:300px;
}

.sidebar {
    position: absolute;
    height: calc(100vh - 200px);
    width: 350px;
    background: #000;
    top: 0px;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}